@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-text">Welcome To Smile Dental</h1>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <img class="card-img-top" src="~/images/side.jpg"  style="width:100%">
    </div>
    <div class="col-md-8 p-5">
        <h2>Smile Dental - We Listen / We Care</h2>
        <h3>We Love our community</h3>
        <p class="text-justify">
            At Smile Dental, we have been supporting our community for the past 24 years. Over level 3 and level 4, we have provided over 2000 free online consultations and free prescriptions for pain relief.
        </p>
        <p class="text-justify">
            We understand how tooth pain or discomfort can affect your quality of life. That is why during level 2, we will be open 7 days a week with free examinations both online and in the clinic (excluding x-rays).
        </p>
        <p class="text-justify">
            We listen and we care about the health of our community. We welcome all new and existing patients to join the Smile Dental family. Thank you all so much for the support and kind words we have received over the past month.
        </p>
        <p class="text-justify">
            As medical professionals, it is our privilege to look after our patients through the best and worst of times. Click on the “Book an Appointment” button to request an appointment.
        </p>
        <a class="btn btn-primary font-text " asp-area="" asp-controller="Home" asp-action="BookAppointment"><i class="fa fa-calendar-plus-o"></i> Book Appointment</a>
    </div>
</div>
