@model IEnumerable<SmileDentalWebApp.Models.Testimonial>

@{
    ViewData["Title"] = "Testimonials";
}

<div class="text-center">
    <h1 class="display-4 font-text">Patient Testimonials</h1>
    <p>We value your feedback. </p>
    
</div>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4 mb-2">
        <div class="card w-100">
            <div class="card-body">
                <h4 class="card-title">@item.Name</h4>
                <p class="card-text"><strong>Rating: </strong>  @item.Rating</p>
            </div>
            <a asp-action="Delete" class="btn btn-info btn-block btn-danger" asp-route-id="@item.TestimonialID"><i class="fa fa-trash"></i> Delete Testimonial</a>

        </div>
    </div>
    }
</div>